body{
	background-image: url(../img/background-3.jpg);
}

table{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.table1{
	position: aboslute;
	top: 100px;
}

.table2{
	position: aboslute;
	top: 200px;
}

.login-form{
	background: #ffffff;
	width: 400px;
	height: 165px;
	margin-left: auto;
	margin-right: auto;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 1px 7px 15px -1px rgba(0,0,0,1);
-moz-box-shadow: 1px 7px 15px -1px rgba(0,0,0,1);
box-shadow: 1px 7px 15px -1px rgba(0,0,0,1);
}

.submit-button{
	width: 300px;
	background: #673AB7;
}

#error-msg{
	color: red;padding-bottom: 5px;
	font-family: 'Oxygen', sans-serif;
}

#title-locate-me a{
	color: #ffffff;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	text-decoration: none;
}

#form-container{
	height: 200px;
	text-align: center;
}

#form-container h2{
	font-family: 'Oxygen', sans-serif;
	color: #ffffff;
}

#logo{
	margin-top: 80px;
}

